@import "../styles/var.scss";

div.footer {
	background: $acm-black;
	color: $dull-white;
	box-shadow: 0 0 25px 0 black;
	div.top {
		padding: 3vh 0;
		div.wrapper {
			display: flex;
			justify-content: space-between;
			div.section {
				width: 30%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				align-content: flex-start;
				
				> * {
					padding: 3%;
				}

				h2 {
					font-family: "Montserrat";
				}

				a {
					min-height: calc(500px * 0.05);
					max-height: calc(600px * 0.05);
					height: 5vh;
				}
			}

			div.other-links.section {
				flex-direction: row;
				flex-wrap: wrap;
				h2 {
					width: 100%;
				}
				a.other-link {
					display: flex;
					align-items: center;
					// width: 40%;
					width: 90%;
					border-left: $hidden-border;
					transition: 0.2s;
				}
				/*
				a.other-link:nth-child(odd) {
					border-right: $hidden-border;
					border-left: 0;
				}
				*/
				a.other-link:hover {
					background: $link-hover-bg-left;
					border-left: $link-hover-border;
				}
				/*
				a.other-link:nth-child(odd):hover {
					background: $link-hover-bg-right;
					border-left: 0;
					border-right: $link-hover-border;
				}
				*/
				a.other-link:active {
					background: $link-active-bg-left;
					border-left: $link-active-border;
				}
				/*
				a.other-link:nth-child(odd):active {
					background: $link-active-bg-right;
					border-left: 0;
					border-right: $link-active-border;
				}
				*/
			}

			div.contacts.section {
				a.contact, div.contact {
					height: 5vh;
					display: flex;
					align-items: center;
					transition: 0.2s;
					border-left: 1px solid rgba(0,0,0,0);
					font-size: 0.8em;
					img {
						width: 10%;
						height: 100%;
						object-fit: contain;
						margin-right: 3%;
					}
				}

				a.contact {
					cursor: pointer;
				}
				
				a.contact:hover {
					border-left: 1px solid $dull-white;
					background: linear-gradient(90deg, rgba(200,200,200,0.125) 0%, rgba(200,200,200,0) 100%);
				}

				a.contact:active {
					border-left: 1px solid $acm-dull-blue;
					background: linear-gradient(90deg, rgba(1,130,172,0.125) 0%, rgba(200,200,200,0) 100%);
				}

			}

			div.socials.section {
				div.social-links {
					width: 100%;
					display: flex;
					a.social {
						$social-side-len: 30px;
						width: $social-side-len;
						min-width: $social-side-len;
						height: $social-side-len;
						min-height: $social-side-len;
						padding: 10px;
						margin: 0 1vw;
						border-radius: 25px;
						transition: 0.2s;
						img {
							width: 100%;
							height: 100%;
							object-fit: contain;
							object-position: center center;
						}
					}

					a.social:hover {
						background: $acm-dull-blue;
					}
					a.social:active {
						background: $acm-dull-dark-blue;
					}
				}
			}
		}
	}
	div.bottom {
		height: 100px;
		border-top: 3px solid gray;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 768px) {
	div.footer {
		div.top {
			div.wrapper {
				flex-direction: column;
				align-items: center;
				justify-content: center;

				div.section {
					width: 90%;
					align-items: center;
					> * {
						padding: 3% 0;
					}
					h2 {
						text-align: center;
						margin-top: 4vh;
					}
					a, div {
						justify-content: center;
					}
				}

				div.other-links.section {
					flex-direction: column;
					a.other-link {
						width: 100%;
					}
				}

				div.contacts.section {
					flex-direction: column;
					a.contact, div.contact {
						display: flex;
						flex-direction: column;
						width: 100%;
						padding: 4vh 0;
						align-items: center;
						text-align: center;
						border-left: none;
						img {
							padding-bottom: 2vh;
						}
					}
					a.contact:hover {
						border-left: none;
						background: $acm-gray;
					}
				}
			}
		}
		div.bottom {
			display: flex;
			justify-content: center;
			font-size: 0.75em;
			text-align: center;
		}
	}
}
