@import "../../styles/var.scss";

div.content#contact {
    div#contact-social-section {
        margin: auto;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            width: 80%;
            text-align: center;
            margin-bottom: 4vh;
            padding-bottom: 2vh;
            border-bottom: 1px solid white;
            font-size: 3em;
        }

        div#social-list {
            width: 75%;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            a.social-item {
                width: 100%;
                margin: 1.5%;
                padding: 1%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.2s;
                background: rgba(0,0,0,0);
                border-left: 1px solid rgba(0,0,0,0);
                border-right: 1px solid rgba(0,0,0,0);
                img {
                    width: 10%;
                    height: 7vh;
                    object-fit: contain;
                }
                span {
                    margin-left: 3%;
                    font-size: 1.25em;
                }
            }

            a.social-item:hover {
                background: $link-hover-bg-horizontal;
                border-left: $link-hover-border;
                border-right: $link-hover-border;
            }

            a.social-item:active {
                background: $link-active-bg-horizontal;
                border-left: $link-active-border;
                border-right: $link-active-border;
            }
        }
    }
}

@media (max-width: 1000px) {
    div.content#contact {
        div#contact-social-section {
            h1{
                font-size: 2em;
            }
            div#social-list {
                flex-direction: row;
                a.social-item{
                    border-radius: 25px;
                    border-bottom: none;
                    img{
                        width: 100%;
                    }
                    span{
                        display: none;
                    }
                }
                a.social-item:hover {
                    background: $acm-dull-blue;
                    border-bottom: none;
                }
    
                a.social-item:active {
                    background: $acm-dull-dark-blue;
                    border-bottom: none;
                }
            }
        }
    }
}
