.redirect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(10,10,10);
    color: rgb(150,150,150);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .redirect-logo{
        transition: 0.2s;
        animation-name: pulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    .redirect-text{
        font-family: inherit;
        font-size: 2em;
    }
    a {
        color: #134d78;
    }
}

@keyframes pulse{
    0%{
        opacity: 0.25;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 0.25;
    }
    100%{
        opacity: 0.25;
    }
}