@import "../../styles/var.scss";

div#sponsors-section {
    margin-top: 5vh;
    h1 {
        color: $dull-white;
        font-family: "Montserrat";
        text-align: center;
        margin: 3vh 0;
    }

    div#sponsors-container {
        display: flex;
        flex-wrap: wrap;

        background: rgb(200,200,200);
        border-top: 3px solid $dull-white;
        border-bottom: 3px solid $dull-white;

        a.sponsor {
            width: 25%;
            height: 25vh;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 80%;
                height: 80%;
                object-fit: contain;
                filter: grayscale(100%);
                transition: filter 0.2s;
            }
        }

        a.sponsor:hover {
            img {
                filter: grayscale(0%);
            }
        }

    }
}

@media (max-width: 768px) {
    div#sponsors-section {
        div#sponsors-container {
            a.sponsor {
                width: 50%;
            }
        }
    }
}
