@import "2024/styles/var.scss";

div#prev-algo-probsets-section {
    color: $dull-white;
    padding: 3% 0;
    margin-bottom: 5%;
    h1 {
        margin-bottom: 2%;
        text-align: center;
    }
    div#probsets {
        display: flex;
        flex-direction: column;
        align-items: center;
        div.probset {
            background: linear-gradient(90deg, rgba(200,200,200,0.125) 0%, rgba(200,200,200,0) 100%);
            width: 100%;
            display: flex;
            align-items: center;
            margin: 1% 0;
            h2{
                width: 14%;
                padding: 0 3%;
                text-align: right;
            }
            .downloads{
                width: calc(80% - 1px);
                border-left: 1px solid rgba(100,100,100);
                .elims{
                    border-bottom: 1px solid rgba(100,100,100);
                }
                .download-section{
                    display: flex;
                    align-items: center;
                    padding: 1% 0;
                    h3{
                        width: 10%;
                        text-align: center;
                        
                    }
                    .files{
                        width: 90%;
                        display: flex;
                        a {
                            background: rgba(255,255,255,0.1);
                            padding: 1%;
                            margin: 0 1%;
                            flex: 1 1 21%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                        }
                        a:active {
                            background: $acm-black;
                        }
                        a.problems:hover {
                            background: rgba(253, 27, 0,0.5);
                        }
                        a.solution-sketches:hover {
                            background: rgba(255, 214, 0, 0.5);
                        }
                        a.solutions:hover {
                            background: rgba(166, 188, 9, 0.5);
                        }
                        a.code-solutions:hover {
                            background: rgba(1, 130, 172,0.5);
                        }
                        a.unavailable {
                            pointer-events: none;
                            opacity: 0.25;
                            cursor: default;
                        }
                    }
                }
            }
        }

        div.probset.old{
            .downloads{
                padding: 1.5% 0;
                .elims{
                    display: none;
                }
            }
        }
        div.probset:nth-child(even) {
            background: linear-gradient(270deg, rgba(1,130,172,0.125) 0%, rgba(255,255,255,0) 100%);
        }
    }
}

@media (max-width: 1000px) {
    div#prev-algo-probsets-section {
        h1 {
            margin-bottom: 3vh;
            font-size: 1.5em;
        }
        div#probsets {
            div.probset {
                margin: 0 0;
                flex-direction: column;
                padding: 1.5% 0;
                h2{
                    padding: 1.5% 0;
                    width: 100%;
                    text-align: center;
                }
                .downloads{
                    border-left: none;
                    .download-section{
                        flex-direction: column;
                        border-bottom: none;
                        h3{
                            padding: 1.5% 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    div#prev-algo-probsets-section {
        div#probsets {
            div.probset {
                .downloads{
                    .download-section{
                        .files{
                            flex-direction: column;
                            a{
                                margin: 1% 0;
                                padding: 3% 0;
                            }
                        }
                    }
                }
            }
        }
    }
}



@media (max-width: 400px) {
    div#prev-algo-probsets-section {
        font-size: 0.75em;
    }
}
